<div class="login">

    <div class="auth_name"> 
            <b>Authentication</b>
    </div>
   

    <div class="username">
        <input class="username_fill" type="text" placeholder="  Enter Username" name="uname" required>
    </div>

    <div class="password">
        <input class="username_fill" type="password" placeholder="  Enter Password" name="psw" required>
    </div>
        

    <a class="button" href="/package-list" routerLink="/package-list">Log In</a>

</div>
<div class="bottom_image">

    <img src="/assets/pages/botom_image2.png">

</div>