<div class="login">

    <div class="auth_name"> 
            <b>Authentication</b>
    </div>
   
        <div class="username">
            <input #email formControlName="email" class="username_fill" type="text" placeholder="  Enter Email" name="uname" required>
        </div>

        <div class="password">
            <input #password formControlName="password" class="username_fill" type="password" placeholder="  Enter Password" name="psw" required>
        </div>

    <button class="button" (click)='login(email.value, password.value)'>Log In</button>
</div>
<div class="bottom_image">

    <img src="/assets/pages/botom_image2.png">

</div>