<div class="configuration-container">
    <div class="title-container">
        <p class="title">Configuration</p>
    </div>
    <div class="options-container">
        <div class="option">
            <p class="configuration-text">Configuration 1</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="option">
            <p class="configuration-text">Configuration 1</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="option">
            <p class="configuration-text">Configuration 1 </p>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="option">
            <p class="configuration-text">Configuration 1</p>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="option">
            <p class="configuration-text">Configuration 1</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <!-- PRice configuration-->
    <div class="option">
        <p class="configuration-text">Price to rent your locker(€)</p>
        <input value="5" class="number" type="number"> 
    </div>
    <div class="option">
        <p class="configuration-text">Maximum price to rent a locker(€)</p>
        <input value="2" class="number" type="number"> 
    </div>

    <div class="option">
        <p class="configuration-text">Formula to rent locker</p>
        <input value="2" class="number" type="number"> 
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <button class="save">Save</button>
            <button class="cancel">Cancel</button>
        </div>
    </div>
</div>
