<div class="side-menu">
    
    <div class="logo">
        <img class="logoimg" src="/assets/main/logo-01.png">
    </div>
   


    <div class="account">
        <img class="image" src= "/assets/main/florin_rusu.jpg" width=200 height =250 alt="avatar"> 
        <div class="account-name">
            Florin Andrei Rusu
        </div>
    </div>



    <div class="navmenu">
        <ul>
            <li>
                <a href="/" routerLink="/">Map</a>
            </li>
            <li>
                <a href="/simulation" routerLink="/simulation">Simulation</a>
            </li>
            <li>
                <a href="/package-list" routerLink="/package-list">Package List</a>
            </li>
            <li>
                <a href="">Manage Deliveries</a>
            </li>
            <li>
                <a href="">Manage Accounts</a>
            </li>
            <li>
                <a href="/configuration" routerLink="/configuration" >Configuration </a>
            </li>
        </ul>
    
    </div>

    <div class="logout_button">
        <button class="button" (click)='logout()'>Log Out</button>
    </div>


</div>