<div class="side-menu">
    <div class="logo">
        LOGO
    </div>


    <div class="account">
        <img class="image" src= "/assets/main/florin_rusu.jpg" width=200 height =250 alt="avatar"> 
        <div class="account-name">
            Florin Andrei Rusu
        </div>
    </div>



    <div class="navmenu">
        <ul>
            <li>
                Map
            </li>
            <li>
                Package List
            </li>
            <li>
                Manage Deliveries
            </li>
            <li>
                Manage Account
            </li>
        </ul>
    
    </div>

    <div class="logout_button">
        <a class="button" href="/login" routerLink="/login">Log Out</a>
    </div>


</div>