.simulation-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border: 3px solid blue;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.information-container{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    border: 3px solid red;
}

.parameters-container{
    width: 75%;
    display: inline-flexbox;
    border: 3px solid black;
}

.parameter{
    
}

.results-container{
    width: 25%;
    display: flex;
    flex-direction: column;
    border:3px solid purple;
}

.map-container{
    width: 100%;
    height: 50%;
    border: 3px solid orange;
}

.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}