<div class = "simulation-container">
    <div class = "information-container"> 

            <div class="parameters-container">
                <div class="parameters-container1">
                    <div class="parameter">
                        <p class="mat-h3"><b>Select the number of lockers</b></p>
                        <mat-slider
                        thumbLabel
                        tickInterval="10"
                        min="1"
                        max="100" color="black"
                        (change)="setNumberOfLockers($event)"></mat-slider>
                    </div>
                    <div class="parameter">
                        <p class="mat-h3"><b>Select the number of packages</b></p>
                        <mat-slider
                        thumbLabel
                        tickInterval="10"
                        min="1"
                        max="100" color="black"
                        (change)="setNumberOfPackages($event)"></mat-slider>
                    </div>
                    <div class="parameter">
                        <p class="mat-h3"><b>Select the number of couriers</b></p>
                        <mat-slider
                        thumbLabel
                        tickInterval="10"
                        min="1"
                        max="100" color="black"
                        (change)="setNumberOfCouriers($event)"></mat-slider>
                    </div>
                    <div class="button">
                        <button mat-button color="accent"
                        (click) = "sendSimulationRequest($event)"
                        ><b>Run simulation</b></button>
                    </div>
                </div>
            </div>
            
            <div class="results-container">
                <div class = "time">
                    <h1 class="mat-h1">Required time to deliver all the packages</h1>
                </div>
                <div class = "co2">
                    <h1 class="mat-h1">Amount of CO2 emissions reduced</h1>
                </div>

            </div>

    
    </div>

    <div class = "map-container">
        <app-map></app-map>
    </div>
</div>

