<div class = "simulation-container">
    <div class = "information-container"> 

            <div class="parameters-container">
                <div class="parameter">
                    <p class="mat-h3"><b>Select the number of lockers</b></p>
                    <mat-slider
                    thumbLabel
                    tickInterval="1000"
                    min="1"
                    max="100" color="black"></mat-slider>
                </div>
            </div>
            
            <div class="results-container">

            </div>

    
    </div>

    <div class = "map-container">
        <app-map></app-map>
    </div>
</div>

